{% layout 'layout' %}

{% block 'head' %}
  <link rel="stylesheet" href="/css/about.css" />
{% endblock %}

<section class="about">
  <h1>{{title}}</h1>

  <article class="info">
    <div>
      <p>Small demo app containing various proverbs!</p>
    </div>
  </article>
</section>
